/**
 *
 * Gida Menu - Global (SCSS)
 *
 * @author Takuto Yanagida
 * @version 2021-09-25
 *
 */


@import 'mixin';


.gida-menu-global {
	--bar-mark-color         : #000;
	--bar-item-width         : unset;
	--bar-item-height        : 3rem;
	--bar-item-padding       : 0.75rem 1rem;

	--bar-scroll-shadow-start  : #{rgba(#000, 0.35)};
	--bar-scroll-shadow-end    : #{rgba(#000, 0.00)};
	--bar-scroll-scroller-start: #{rgba(#fff, 0.90)};
	--bar-scroll-scroller-end  : #{rgba(#fff, 0.00)};

	--panel-bg-color           : #fff;
	--panel-shadow             : 0 4px 8px 0 rgba(0, 0, 0, 0.25);
	--panel-item-width         : unset;
	--panel-item-height        : 3rem;
	--panel-item-padding       : 0.25rem 1rem;
}


// -----------------------------------------------------------------------------


.gida-menu-global {
	position  : relative;
	box-sizing: border-box;
	*,
	*::before,
	*::after {
		box-sizing: inherit;
		margin    : 0;
		padding   : 0;
	}

	li,
	a, button, label {
		transition-duration: 0.2s;
		transition-property: color, background-color;
		&::before, &::after { transition: all 0.2s ease; }
	}
	a, button, label {
		&:focus:not(:focus-visible) { outline: 0; }
		user-select: none;
	}
	a { text-decoration: none; }
	button {
		appearance: none;
		border    : inherit;
		background: inherit;
		color     : inherit;
		font      : inherit;
	}
	ul {
		list-style-type: none;
	}
}


// -----------------------------------------------------------------------------


.gida-menu-global-bar {
	display   : flex;
	max-height: var(--bar-item-height);
	overflow-x: scroll;
	overflow-y: hidden;

	scroll-behavior: smooth;
	&::-webkit-scrollbar { display: none; }
	scrollbar-width: none;

	.menu {
		margin: auto;
	}

	&::before,
	&::after {
		content : '';
		position: absolute;
		top     : 0;
		bottom  : 0;
		width   : 16px;
		z-index : 1;

		pointer-events: none;

		opacity   : 0;
		transition: opacity 0.2s;
	}
	&::before {
		background-image: radial-gradient(farthest-side at center left, var(--bar-scroll-shadow-start), var(--bar-scroll-shadow-end));
		left: 0;
	}
	&::after {
		background-image: radial-gradient(farthest-side at center right, var(--bar-scroll-shadow-start), var(--bar-scroll-shadow-end));
		right: 0;
	}
	&.scrollable-left::before { opacity: 1; }
	&.scrollable-right::after { opacity: 1; }

	.gida-menu-global.box-shadow & {
		&::before { background-image: linear-gradient(to left, var(--bar-scroll-shadow-start), var(--bar-scroll-shadow-end)); }
		&::after  { background-image: linear-gradient(to right, var(--bar-scroll-shadow-start), var(--bar-scroll-shadow-end)); }
	}

	.scroll-left,
	.scroll-right {
		position: absolute;
		top     : 0;
		bottom  : 0;
		width   : 32px;
		z-index : 1;

		transition: all 0.2s ease;
		opacity: 0;
		pointer-events: none;

		background-image: radial-gradient(farthest-side at center left,  var(--bar-scroll-scroller-start), var(--bar-scroll-scroller-end));

		&::before {
			content : '';
			position: absolute;
			width   : 1rem;
			height  : 1rem;
			top     : 50%;
			left    : 50%;

			border-top : 2px solid var(--bar-mark-color);
			border-left: 2px solid var(--bar-mark-color);

			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	.scroll-left {
		left: 0;
	}
	.scroll-right {
		right: 0;
		transform: rotate(180deg);
	}
	&:not(.touch):hover.scrollable-left .scroll-left {
		opacity: 1;
		pointer-events: auto;
	}
	&:not(.touch):hover.scrollable-right .scroll-right {
		opacity: 1;
		pointer-events: auto;
	}
}


// -----------------------------------------------------------------------------


.gida-menu-global-bar {

	.menu {  // ul
		display: inline-flex;
	}

	.menu > li {
		position : relative;
		flex-grow: 1;

		/**/> label,/**/
		> a, > button {
			position: relative;

			display        : flex;
			flex-direction : column;
			justify-content: center;

			width     : 100%;
			min-width : var(--bar-item-width);
			min-height: var(--bar-item-height);
			padding   : var(--bar-item-padding);

			white-space: nowrap;
		}

		/**/> label::after,/**/
		> button::after {
			display: inline-block;

			content : '';
			position: absolute;
			width   : 0;
			height  : 0;
			left    : 50%;
			bottom  : 0.1rem;

			border    : 0.35rem solid transparent;
			border-top: 0.35rem solid var(--bar-mark-color);

			transform: translateX(-50%) scale(0.69, 1) translateY(0.25rem);
		}

		&.current {
			/**/label,/**/
			a, button {
				pointer-events : none;
			}
		}

		&.opened {
			/**/> label,/**/
			> button {
				&::after {
					transform: translateX(-50%) scale(0.69, -1) translateY(0.15rem);
				}
			}
		}
	}
}


// -----------------------------------------------------------------------------


.gida-menu-global-panels {
	position: relative;

	.gida-menu-global-panel {
		display: none;
		&.active { display: block; }
		&.opened { display: block; }

		opacity: 0;
		&.active.opened { opacity: 1; }

		&.active.opened       { transition: opacity 0.20s ease; }
		&:not(.active).opened { transition: opacity 0.25s ease 0.1s; }
	}
}


// -----------------------------------------------------------------------------


.gida-menu-global-panel {
	position: absolute;
	top     : 0;
	left    : 0;
	right   : 0;
	z-index : 1000;

	.gida-menu-global.pulldown & {
		@include for-ta {
			width: fit-content;
		}
	}

	background-color: var(--panel-bg-color);
	box-shadow      : var(--panel-shadow);

	> .menu {  // ul
		margin: auto;

		display        : flex;
		justify-content: center;

		.gida-menu-global.pulldown & {
			flex-direction: column;
		}
		@include for-ph-o {
			flex-direction: column;
		}
		min-width: 100%;

		@include for-ta {
			flex-wrap     : wrap;
			flex-direction: row;
			min-width     : unset;
		}
	}

	> .menu > li {
		position: relative;

		a, label {
			display        : flex;
			flex-direction : column;
			align-items    : flex-start;
			justify-content: center;

			min-width : var(--panel-item-width);
			min-height: var(--panel-item-height);
			padding   : var(--panel-item-padding);

			> div {
				display: inline-block;
				text-align: left;
			}
			span { display: inline-block; }
		}

		&.current {
			a, label {
				pointer-events : none;
			}
		}
	}
}
