/**
 * Gida Menu - Global
 *
 * @author Takuto Yanagida
 * @version 2023-07-06
 */

@use 'mixin';

.gida-menu-global {
	--bar-item-width  : unset;
	--bar-item-height : 3rem;
	--bar-item-padding: 0.15rem 1rem;

	--bar-scroll-shadow-start  : #0005;
	--bar-scroll-shadow-end    : #0000;
	--bar-scroll-scroller-start: #fffe;
	--bar-scroll-scroller-end  : #fff0;
	--bar-scroll-mark-color    : #000;

	--bar-mark-color: #000;
	--bar-mark-path : polygon(0% 20%, 100% 20%, 50% 95%);

	--panel-bg-color    : #fff;
	--panel-shadow      : 0 4px 8px 0 #0004;
	--panel-item-width  : unset;
	--panel-item-height : 3rem;
	--panel-item-padding: 0.25rem 1rem;
}


// -----------------------------------------------------------------------------


.gida-menu-global {
	position  : relative;
	box-sizing: border-box;

	:where(*, *::before, *::after) {
		box-sizing: inherit;
		margin    : 0;
		padding   : 0;
	}

	:where(li, li > *:first-child) {
		transition-duration: 0.2s;
		transition-property: color, background-color;

		&::before,
		&::after {
			transition: all 0.2s;
		}
	}

	:where(li > *:first-child) {
		user-select: none;
	}

	a {
		text-decoration: none;
	}

	button {
		appearance   : none;
		padding      : 0;
		border-radius: 0;
		border       : inherit;
		background   : inherit;
		font         : inherit;
		color        : inherit;
	}

	ul {
		list-style-type: none;
	}
}


// -----------------------------------------------------------------------------


.gida-menu-global-bar {
	display   : flex;
	max-height: var(--bar-item-height);
	overflow-x: scroll;
	overflow-y: hidden;

	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none;

	.menu {
		margin: auto;
	}

	&::before,
	&::after {
		content    : '';
		position   : absolute;
		inset-block: 0;
		width      : 16px;
		z-index    : 1;

		pointer-events: none;

		opacity   : 0;
		transition: opacity 0.2s;
	}
	&::before {
		background-image: radial-gradient(farthest-side at center left, var(--bar-scroll-shadow-start), var(--bar-scroll-shadow-end));
		inset-inline    : 0 auto;
	}
	&::after {
		background-image: radial-gradient(farthest-side at center right, var(--bar-scroll-shadow-start), var(--bar-scroll-shadow-end));
		inset-inline    : auto 0;
	}
	&.scrollable-left::before,
	&.scrollable-right::after {
		opacity: 1;
	}

	:is(.scroll-left, .scroll-right) {
		position   : absolute;
		inset-block: 0;
		width      : 32px;
		z-index    : 2;

		transition    : all 0.2s;
		opacity       : 0;
		pointer-events: none;

		background-image: radial-gradient(farthest-side at center left,  var(--bar-scroll-scroller-start), var(--bar-scroll-scroller-end));

		&::before {
			content : '';
			position: absolute;
			width   : 1rem;
			height  : 1rem;
			inset   : 50% auto auto 50%;

			border-block-start : 2px solid var(--bar-scroll-mark-color);
			border-inline-start: 2px solid var(--bar-scroll-mark-color);

			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	.scroll-left {
		inset-inline-start: 0;
	}
	.scroll-right {
		inset-inline-end: 0;
		transform: rotate(180deg);
	}
	&:where(:not(.touch):hover.scrollable-left) .scroll-left {
		opacity       : 1;
		pointer-events: auto;
	}
	&:where(:not(.touch):hover.scrollable-right) .scroll-right {
		opacity       : 1;
		pointer-events: auto;
	}
}

:where(.gida-menu-global.box-shadow) .gida-menu-global-bar {
	&::before { background-image: linear-gradient(to right, var(--bar-scroll-shadow-start), var(--bar-scroll-shadow-end)); }
	&::after  { background-image: linear-gradient(to left,  var(--bar-scroll-shadow-start), var(--bar-scroll-shadow-end)); }
}


// -----------------------------------------------------------------------------


.gida-menu-global-bar {
	.menu {  // ul
		display: inline-flex;
	}

	li {
		position : relative;
		flex-grow: 1;

		> *:first-child {
			display        : flex;
			flex-direction : column;
			align-items    : center;
			justify-content: center;

			width     : 100%;
			min-width : var(--bar-item-width);
			min-height: var(--bar-item-height);
			padding   : var(--bar-item-padding);

			white-space: nowrap;
		}

		&:where(.current) {
			> *:first-child {
				pointer-events: none;
			}
		}
	}
}

:where(.gida-menu-global.with-popup-hint) .gida-menu-global-bar {
	li {
		> *:first-child:not(a) {
			position: relative;

			&::after {
				content           : '';
				position          : absolute;
				inset-inline-start: calc(50% - 0.25rem);
				width             : 0.5rem;
				height            : 0.5rem;

				clip-path : var(--bar-mark-path);
				box-shadow: 0 0 1rem var(--bar-mark-color) inset;
			}
		}
	}
}

:where(.gida-menu-global.with-popup-hint:not(.upward)) .gida-menu-global-bar {
	li {
		> *:first-child:not(a) {
			&::after {
				inset-block-end: 0.15rem;
			}
		}

		&.opened {
			> *:first-child:not(a) {
				&::after {
					transform: scaleY(-1);
				}
			}
		}
	}
}

:where(.gida-menu-global.with-popup-hint.upward) .gida-menu-global-bar {
	li {
		> *:first-child:not(a) {
			&::after {
				inset-block-start: 0.15rem;
				transform        : rotate(180deg);
			}
		}

		&.opened {
			> *:first-child:not(a) {
				&::after {
					transform: scaleY(1);
				}
			}
		}
	}
}


// -----------------------------------------------------------------------------


.gida-menu-global-panels {
	position    : absolute;
	inset-inline: 0;
}

:where(.gida-menu-global:not(.upward)) .gida-menu-global-panels {
	inset-block: auto 0;

	.gida-menu-global-panel {
		inset-block-start: 100%;
	}
}

:where(.gida-menu-global.upward) .gida-menu-global-panels {
	inset-block: 0 auto;

	.gida-menu-global-panel {
		inset-block-end: 100%;
	}
}


// -----------------------------------------------------------------------------


.gida-menu-global-panel {
	display: none;
	&:where(.active, .opened) {
		display: block;
	}
	opacity: 0;

	&:where(.active.opened) {
		opacity   : 1;
		transition: opacity 0.20s;
		z-index   : 1001;
	}
	&:where(:not(.active).opened) {
		transition: opacity 0.15s 0.1s;
	}
}

.gida-menu-global-panel {
	position    : absolute;
	inset-inline: 0;
	z-index     : 1000;

	background-color: var(--panel-bg-color);
	box-shadow      : var(--panel-shadow);

	.menu {  // ul
		margin: auto;

		display        : flex;
		justify-content: center;
		flex-direction : column;
		min-width      : 100%;

		@include mixin.for-ta {
			flex-direction: row;
			flex-wrap     : wrap;
			min-width     : unset;
		}
	}

	li {
		> *:first-child {
			display        : flex;
			flex-direction : column;
			align-items    : flex-start;
			justify-content: center;

			min-width : var(--panel-item-width);
			min-height: var(--panel-item-height);
			padding   : var(--panel-item-padding);

			:where(div, span) {
				display   : inline-block;
				text-align: left;
			}
		}

		&:where(.current) {
			> a {
				pointer-events: none;
			}
		}
	}
}

:where(.gida-menu-global.overflow-scroll) .gida-menu-global-panel {
	max-height: var(--visible-height, unset);
	overflow-y: scroll;
}

:where(.gida-menu-global.pulldown) .gida-menu-global-panel {
	@include mixin.for-ta {
		width: fit-content;
	}
	.menu {  // ul
		flex-direction: column;
	}
}

:where(.gida-menu-global:not(.pulldown)) .gida-menu-global-panel {
	.menu {  // ul
		.menu {
			flex-direction: column;
		}
	}
}
