/**
 * Gida Menu - Priority
 *
 * @author Takuto Yanagida
 * @version 2023-07-06
 */

@use 'mixin';

.gida-menu-priority {
	--bar-item-width  : unset;
	--bar-item-height : 3rem;
	--bar-item-padding: 0.75rem 1rem;

	--bar-mark-color: #000;
	--bar-mark-path :  polygon(0% 20%, 100% 20%, 50% 95%);

	--panel-offset      : 0.25rem;
	--panel-bg-color    : #fff;
	--panel-shadow      : 0 4px 8px 0 #0004;
	--panel-item-width  : unset;
	--panel-item-height : 3rem;
	--panel-item-padding: 0.25rem 1rem;
}


// -----------------------------------------------------------------------------


.gida-menu-priority {
	position  : relative;
	box-sizing: border-box;

	max-width: var(--max-width, unset);

	:where(*, *::before, *::after) {
		box-sizing: inherit;
		margin    : 0;
		padding   : 0;
	}

	:where(li, li > *:first-child) {
		transition-duration: 0.2s;
		transition-property: color, background-color;

		&::before,
		&::after {
			transition: all 0.2s;
		}
	}

	:where(li > *:first-child) {
		user-select: none;
	}

	a {
		text-decoration: none;
	}

	button {
		appearance   : none;
		padding      : 0;
		border-radius: 0;
		border       : inherit;
		background   : inherit;
		font         : inherit;
		color        : inherit;
	}

	ul {
		list-style-type: none;
	}

	li > *:not(a) {
		display: none;
	}


	// -------------------------------------------------------------------------


	overflow-y: visible;
	overflow-x: hidden;
	opacity   : 0;

	&.ready {
		transition: opacity 0.1s;
		overflow-x: visible;
		opacity   : 1;
	}
}


// -----------------------------------------------------------------------------


.gida-menu-priority-bar {
	display   : flex;
	max-height: var(--bar-item-height);
}


// -----------------------------------------------------------------------------


.gida-menu-priority-bar {
	.menu {  // ul
		display  : inline-flex;
		flex-wrap: nowrap;
	}

	li {
		position : relative;
		flex-grow: 1;

		> *:first-child {
			display        : flex;
			align-items    : center;
			justify-content: center;

			width     : 100%;
			min-width : var(--bar-item-width);
			min-height: var(--bar-item-height);
			padding   : var(--bar-item-padding);

			white-space: nowrap;
		}

		&:where(.current) {
			> *:first-child {
				pointer-events: none;
			}
		}

		> .gida-menu-priority-button {
			display    : grid;
			place-items: center;

			min-width: var(--bar-item-height);
			max-width: var(--bar-item-height);
			padding  : 0;
		}
	}
}

:where(.gida-menu-priority.with-popup-hint) .gida-menu-priority-bar {
	li {
		.gida-menu-priority-button {
			position: relative;

			&::after {
				content : '';
				position: absolute;
				width   : 0.5rem;
				height  : 0.5rem;

				clip-path : var(--bar-mark-path);
				box-shadow: 0 0 1rem var(--bar-mark-color) inset;
			}
		}

		&.opened {
			.gida-menu-priority-button {
				&::after {
					transform: scaleY(-1);
				}
			}
		}
	}
}


// -----------------------------------------------------------------------------


.gida-menu-priority-panels {
	position: relative;
}


// -----------------------------------------------------------------------------


.gida-menu-priority-panel {
	display: none;
	&:where(.active, .opened) {
		display: block;
	}
	opacity: 0;

	&:where(.active.opened) {
		opacity   : 1;
		transition: opacity 0.20s;
	}
	&:where(:not(.active).opened) {
		transition: opacity 0.15s 0.1s;
	}
}

.gida-menu-priority-panel {
	position         : absolute;
	inset-block-start: 0;
	z-index          : 1000;

	&.end   { inset-inline-end  : 0; }
	&.start { inset-inline-start: 0; }

	background-color: var(--panel-bg-color);
	box-shadow      : var(--panel-shadow);

	.menu {  // ul
		margin: auto;

		display        : flex;
		justify-content: center;
		flex-direction : column;
		min-width      : 100%;

		@include mixin.for-ta {
			flex-direction: row;
			flex-wrap     : wrap;
			min-width     : unset;
		}
	}

	li {
		a {
			display        : flex;
			align-items    : center;
			justify-content: flex-start;

			height: 100%;

			min-width : var(--panel-item-width);
			min-height: var(--panel-item-height);
			padding   : var(--panel-item-padding);

			:where(div, span) {
				display   : inline-block;
				text-align: left;
			}
		}

		&:where(.current) {
			> a {
				pointer-events : none;
			}
		}
	}
}

:where(.gida-menu-priority.pulldown) .gida-menu-priority-panel {
	@include mixin.for-ta {
		width: fit-content;
	}
	.menu {  // ul
		flex-direction: column;
	}
}
