/**
 * Gida Menu - Priority
 *
 * @author Takuto Yanagida
 * @version 2022-09-26
 */


@use 'mixin' as *;


.gida-menu-priority {
	--bar-item-width  : unset;
	--bar-item-height : 3rem;
	--bar-item-padding: 0.75rem 1rem;

	--bar-mark-color: #000;
	--bar-mark-path :  polygon(0% 20%, 100% 20%, 50% 95%);

	--panel-offset      : 0.25rem;
	--panel-bg-color    : #fff;
	--panel-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.25);
	--panel-item-width  : unset;
	--panel-item-height : 3rem;
	--panel-item-padding: 0.25rem 1rem;
}


// -----------------------------------------------------------------------------


.gida-menu-priority {
	position  : relative;
	box-sizing: border-box;

	:is(*, *::before, *::after) {
		box-sizing: inherit;
		margin    : 0;
		padding   : 0;
	}

	:is(li, a, button) {
		transition-duration: 0.2s;
		transition-property: color, background-color;

		&::before,
		&::after {
			transition: all 0.2s;
		}
	}

	:is(a, button) {
		user-select: none;
	}

	a {
		text-decoration: none;
	}

	button {
		appearance: none;
		border    : inherit;
		background: inherit;
		color     : inherit;
		font      : inherit;
	}

	ul {
		list-style-type: none;
	}

	li label {
		display: none;
	}


	// -------------------------------------------------------------------------


	overflow-y: visible;
	overflow-x: hidden;
	opacity   : 0;

	&.ready {
		transition: opacity 0.1s;
		overflow-x: visible;
		opacity   : 1;
	}
}


// -----------------------------------------------------------------------------


.gida-menu-priority-bar {
	display   : flex;
	max-height: var(--bar-item-height);
}


// -----------------------------------------------------------------------------


.gida-menu-priority-bar {

	.menu {  // ul
		display  : inline-flex;
		flex-wrap: nowrap;
	}

	.menu > li {
		position : relative;
		flex-grow: 1;

		> :is(a, button) {
			display        : flex;
			align-items    : center;
			justify-content: center;

			width     : 100%;
			min-width : var(--bar-item-width);
			min-height: var(--bar-item-height);
			padding   : var(--bar-item-padding);

			white-space: nowrap;
		}

		&.current {
			:is(a, button) {
				pointer-events : none;
			}
		}

		> .gida-menu-priority-button {
			display    : grid;
			place-items: center;

			min-width: var(--bar-item-height);
			max-width: var(--bar-item-height);
			padding  : 0;
		}
	}
}

.gida-menu-priority.with-popup-hint .gida-menu-priority-bar {

	.menu > li {
		.gida-menu-priority-button {
			position: relative;

			&::after {
				content : '';
				position: absolute;
				width   : 0.5rem;
				height  : 0.5rem;

				clip-path : var(--bar-mark-path);
				box-shadow: 0 0 1rem var(--bar-mark-color) inset;
			}
		}

		&.opened {
			.gida-menu-priority-button {
				&::after {
					transform: scaleY(-1);
				}
			}
		}
	}
}


// -----------------------------------------------------------------------------


.gida-menu-priority-panels {
	position: relative;

	.gida-menu-priority-panel {
		display: none;
		&:is(.active, .opened) {
			display: block;
		}

		opacity: 0;

		&.active.opened {
			opacity   : 1;
			transition: opacity 0.20s;
		}
		&:not(.active).opened {
			transition: opacity 0.15s 0.1s;
		}
	}
}


// -----------------------------------------------------------------------------


.gida-menu-priority-panel {
	position: absolute;
	top     : 0;
	z-index : 1000;

	&.end   { right: 0; }
	&.start { left : 0; }

	.gida-menu-priority.pulldown & {
		@include for-ta {
			width: fit-content;
		}
	}

	background-color: var(--panel-bg-color);
	box-shadow      : var(--panel-shadow);

	> .menu {  // ul
		margin: auto;

		display        : flex;
		justify-content: center;

		.gida-menu-priority.pulldown & {
			flex-direction: column;
		}
		@include for-ph-o {
			flex-direction: column;
		}
		min-width: 100%;

		@include for-ta {
			flex-wrap     : wrap;
			flex-direction: row;
			min-width     : unset;
		}
	}

	> .menu > li {
		position: relative;

		a {
			display        : flex;
			align-items    : center;
			justify-content: flex-start;

			height: 100%;

			min-width : var(--panel-item-width);
			min-height: var(--panel-item-height);
			padding   : var(--panel-item-padding);

			> div {
				display   : inline-block;
				text-align: left;
			}
			span {
				display: inline-block;
			}
		}

		&.current {
			> a {
				pointer-events : none;
			}
		}
	}
}
